@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  width: 1440px;
  background-color: white;
}

.container {
  width: 1200px;
  display: flex;
}

header {
}

.logo {
  width: 200px;
  height: 43px;
}
